@model MasterISS_Archive_Management_Website.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    ViewBag.Title = MasterISS_Archive_Management_Website.Localization.Model.Login;
}
<style>


</style>





<div class="login-content">

    @using (Html.BeginForm())
    {
        <div class="text-size">
            @Html.DisplayNameFor(m => m.Username)
        </div>
        <div class="search">
            <div>
                @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "inputsearch" } })
            </div>
        </div>
        <div class="text-red">
            @Html.ValidationMessageFor(m => m.Username)
        </div>

        <div class="mt text-size">
            @Html.DisplayNameFor(m => m.Password)
        </div>
        <div class="search">
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "inputsearch" })
            </div>
        </div>
        <div class="text-red">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            <button class="button1 password" type="submit">@MasterISS_Archive_Management_Website.Localization.Model.Login</button>
        </div>

    }
</div>



<div class="text-style">
    @Html.ValidationMessage("loginFailed")
    @ViewBag.HasNotPermission
</div>

