@using MasterISS_Archive_Management_Website.Helpers

<!DOCTYPE html>
<html>

@*<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <title>MasterISS Archive Management</title>
    </head>*@

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @MasterISS_Archive_Management_Website.Localization.Model.MasterISSArchiveManagement </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        .username {
            color: white !important;
        }

            .username:hover {
                display: none !important;
            }
    </style>


    @if (ViewBag.LoginPage != null)
    {
        <style>
            .login-page {
                display: none
            }
        </style>
    }

    @*<nav>
            <div id="logo">
                @Html.ActionLink(MasterISS_Archive_Management_Website.Localization.Model.MasterISSArchiveManagement, "Index", "Archive")
            </div>

            <label for="tog" class="toggle">Menu</label>
            <input type="checkbox" id="tog" />
            <ul class="menu">
                <li>
                    <label for="tog-1" class="toggle">WordPress +</label>
                    <a href="#"><img src="~/Content/img/language.png" style="width:2em" alt="HTML tutorial"></a>
                    <input type="checkbox" id="tog-1" />
                    <ul>
                        <li>@Html.LanguageLink("Türkçe", "tr-tr")</li>
                        <li>@Html.LanguageLink("English", "en-US")</li>

                    </ul>

                </li>
                <li><a class="font-shape">@User.Identity.Name</a></li>
                <li class="login-page"><a href="@Url.Action("LogOut", "Auth")">@MasterISS_Archive_Management_Website.Localization.Model.LogOut</a></li>
            </ul>
        </nav>*@



    <!--<header>
        <a href=""><img class="logo" src="~/Content/images/logo.svg" alt="logo" /></a>
        <nav>
            <div class="nav-drop">
                <ul class="nav__links">
                    <!-- safe zone for the language dropdown -->
    <!--<div class="safezone"></div>-->
    @*<li>
            <a class="username"> @User.Identity.Name </a>
        </li>*@
    <!--<li>
        <a class="language-hover" href="#">
            Language-->
    <!-- language dropdown menu -->
    <!--<div class="dropper"></div>
        </a>
    </li>
    <li><a href="@*@Url.Action("LogOut", "Auth")"*@>-->
    <!--@*@MasterISS_Archive_Management_Website.Localization.Model.LogOut*@--><!--</a>-->
    <!--</li>
    </ul>
    <div class="language-dropdown">
        <ul class="k">
            <li>-->
    @* <a href="#">TR</a>*@

    @*<a href="@Html.LanguageLink("TR", "tr-tr")"></a>*@
    <!--</li>
    <li>-->
    @*<a href="#">EN</a>*@
    @*@Html.LanguageLink("EN", "en-US")*@
    @*</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>-->*@



    <header>
        <a href=""><img class="logo" src="~/Content/images/logo.svg" alt="logo" /></a>
        <nav>
            <div class="nav-drop">
                <ul class="nav__links">
                    <!-- safe zone for the language dropdown -->
                    <div class="safezone"></div>
                    <li>
                        <a class="language-hover" href="#">
                            Language
                            <!-- language dropdown menu -->
                            <div class="dropper"></div>
                        </a>
                    </li>
                    <li>
                        <a class="username"> @User.Identity.Name </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOut", "Auth" )">
                            @MasterISS_Archive_Management_Website.Localization.Model.LogOut
                        </a>
                    </li>

                </ul>
                <div class="language-dropdown">
                    <ul class="lang-drop">
                        <li>
                            @Html.LanguageLink("TR", "tr-tr")
                        </li>
                        <li>
                            @Html.LanguageLink("EN", "en-US")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="gradient"></div>
    <div class="noise"></div>


    @*<div class="container body-content">*@
    @RenderBody()
    @*@Html.Partial("_DeletePop")*@
    @*<hr />*@
    <footer>
    </footer>
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @section script{
    }
    @*<script>
            $(".language-hover").hover(function () {
                $(".safezone").show();
                $(".dropper").show();

                var languageHover = $(this);
                var navDrop = languageHover.closest("div.nav-drop");
                var languageDropdown = navDrop.find("ul.k");
                languageDropdown.removeClass("k");
                languageDropdown.addClass("dropfirst");
                //k.addClass("dropfirst");
            });
        </script>*@



    @*<script>

            $(".delete-pop-button").click(function () {
                //var button = $(this);
                //var container = button.closest("div.page-container");
                //var pop = container.find("div.delete-pop-click");
                $(".delete-pop-click").show();

            });
        </script>*@

    @*<script>
            $(".language-hover").mouseover(function () {
                $(".safezone").show();
                $(".dropper").show();

                var languageHover = $(this);
                var navDrop = languageHover.closest("div.nav-drop");
                var languageDropdown = navDrop.find("ul.lang-drop");
                languageDropdown.removeClass("lang-drop");
                languageDropdown.addClass("dropfirst");
                //k.addClass("dropfirst");
            });

            $(".language-hover").mouseout(function () {
                $(".safezone").hide();
                $(".dropper").hide();

                var languageHover = $(this);
                var navDrop = languageHover.closest("div.nav-drop");
                var languageDropdown = navDrop.find("ul.dropfirst");
                languageDropdown.removeClass("dropfirst");
                languageDropdown.addClass("lang-drop");
                //k.addClass("dropfirst");
            });
        </script>*@

    @*<script>
            $(".language-hover").mousemove(function (event) {
                //var msg = "Handler for .mousemove() called at ";
                ////msg += event.pageX + ", " + event.pageY;
                //var k = 20px;
                //var c=20px
                var languageHover = $(this);
                var navDrop = languageHover.closest("div.nav-drop");
                if (0 < event.pageX < 50 && 0 < event.pageY < 50 ) {
                    $(".safezone").show();
                    $(".dropper").show();

                    //var languageHover = $(this);
                    //var navDrop = languageHover.closest("div.nav-drop");
                    var languageDropdown = navDrop.find("ul.lang-drop");
                    languageDropdown.removeClass("lang-drop");
                    languageDropdown.addClass("dropfirst");
                }
                else {
                    $(".safezone").hide();
                    $(".dropper").hide();

                    //var languageHover = $(this);
                    //var navDrop = languageHover.closest("div.nav-drop");
                    var languageDropdown = navDrop.find("ul.dropfirst");
                    languageDropdown.removeClass("dropfirst");
                    languageDropdown.addClass("lang-drop");
                }
                //$("#log").append("<div>" + msg + "</div>");
            });
        </script>*@

    @*<script>
        Set();
    </script>*@

    @RenderSection("script", required: false)
</body>
</html>
