@using MasterISS_Archive_Management_Website.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @MasterISS_Archive_Management_Website.Localization.Model.MasterISSArchiveManagement </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>

        <a href="@Url.Action("Index", "Archive",new { id=UrlParameter.Optional})"><img class="logo" src="~/Content/images/logo.svg" alt="logo" /></a>
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <div class="username"> @User.Identity.Name </div>
            <nav>

                <div class="nav-drop" style="display: flex;align-items: center;">
                    <ul class="nav__links">
                        <!-- safe zone for the language dropdown -->
                        <div class="safezone"></div>
                        <li>
                            <a id="language-drop" class="language-hover" href="#">
                                @MasterISS_Archive_Management_Website.Localization.Model.Language
                                <!-- language dropdown menu -->
                                <div class="dropper"></div>
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="not-hover" href="@Url.Action("LogOut", "Auth" )">
                                    @MasterISS_Archive_Management_Website.Localization.Model.LogOut
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="language-dropdown">
                        <ul class="lang-drop" style="display: flex;">
                            <li>
                                @Html.LanguageLink("TR", "tr-tr")
                            </li>
                            <li>
                                @Html.LanguageLink("EN", "en-US")
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="gradient"></div>
    <div class="noise"></div>


    @*<div class="container body-content">*@
    <div class="render-body-container">
        @RenderBody()
        @Html.Partial("_DeletePop")
        @Html.Partial("_UploadMessagePop")
    </div>

    @*<hr />*@
    <footer>
        <p> version @ViewBag.Version </p>
    </footer>
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @section script{
    }


    <script>
        SetLanguage();
    </script>

    <script>
        //$(".delete-button-submit").click(function () {
        $(".delete-button-submit").click(function () {
            var button = $(this);
            var partialPop = button.closest("div.render-body-container");
            var deletePop = partialPop.find("div.deletepop.form");
            deletePop.show();

            $('.pop-cancel').click(function () {
                var buttoncan = $(this);
                var deletePop = buttoncan.closest("div.deletepop.form");
                deletePop.hide();
            });

            $(".pop-delete").click(function () {
                //var buttondel = $(this);
                //var form = buttondel.closest("form.delete-submit");
                var form = button.closest("form.delete-submit");
                form.submit();
            });
        });
    </script>

    <script>
        $(".ok").click(function () {
            var button = $(this);
            var popup = button.closest("div.deletepop.upload-message");
            popup.hide();
        })
    </script>

    @RenderSection("script", required: false)
</body>
</html>
