@using MasterISS_Archive_Management_Website.ViewModels
@model IEnumerable<FileDetailViewModel>

@{

    if (ViewBag.id == null)
    {
        ViewBag.Title = MasterISS_Archive_Management_Website.Localization.Model.HomePage;
    }
    else
    {
        ViewBag.Title = ViewBag.id + " - " + MasterISS_Archive_Management_Website.Localization.Model.SubscriberArchiveFiles;
    }
    var boxClass = string.Empty;
    var bannerClass = string.Empty;
    //if (ViewContext.RouteData.Values["id"] != null)
    //if (ViewContext.RouteData.Values["@ViewBag.id"] != "")
    if (ViewBag.id != null)
    {
        boxClass = "upbox boxgradient";
        bannerClass = "upbanner";
    }
}

@if (ViewBag.id != null)
{
    <style>
        .visible-manage-button {
            display: block
        }
    </style>
}
@if (ViewBag.SubscriberNo != null)
{
    <style>
        .visible-manage-button {
            display: block
        }
    </style>
}

<div class="page-container">
    <div class="banner @bannerClass">
        <!-- box files side by side -->
        <ul class="boxes @boxClass">
            <li class="box1"><img src="~/Content/images/box1.svg" alt="" /></li>
            <li class="box2"><img src="~/Content/images/box2.svg" alt="" /></li>
            <li class="box3"><img src="~/Content/images/box3.svg" alt="" /></li>
            <li class="box4"><img src="~/Content/images/box1.svg" alt="" /></li>
            <li class="box5"><img src="~/Content/images/box2.svg" alt="" /></li>
            <li class="box6"><img src="~/Content/images/box3.svg" alt="" /></li>
        </ul>
        <!-- search bar & search button -->
        <div class="search">

            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                @Html.TextBox("id", null, new { @class = "inputsearch-textbox " ,@autocomplete="off", @placeholder=MasterISS_Archive_Management_Website.Localization.Model.ArchiveNumber})

                <button class="magnify" type="submit"></button>
            }

        </div>
        <!-- the buldge of search bar -->
        <div class="curve"></div>
    </div>
    <div style="color:white; text-align:center; font-size:2em; font-weight:500; margin-top:3em">
        @ViewBag.NoSubscriberFound

    </div>
    @if (ViewBag.SubscriberNo != null)
    {
        <div class="subscribernum">
            <p>
                @MasterISS_Archive_Management_Website.Localization.Model.SubscriberNo
            </p>
            <a target="_blank" href="@MasterISS_Archive_Management_Website.Properties.Settings.Default.MasterISSWebSiteUrl/@ViewBag.id">@ViewBag.SubscriberNo </a>
        </div>
    }

    @if (Model != null)
    {
      
        <div class="tablediv">
            <table class="maintable">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.AttachmentType)</th>
                        <th> @Html.DisplayNameFor(model => model.CreationDate)</th>
                        <th>@MasterISS_Archive_Management_Website.Localization.Model.Download</th>
                        <th>@MasterISS_Archive_Management_Website.Localization.Model.Delete</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AttachmentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                <a class="downloadbutton style" href="@Url.Action("Download", "Archive", new { id = ViewBag.id, FileName = item.ServerSideName })">@*@MasterISS_Archive_Management_Website.Localization.Model.Download*@</a>
                            </td>
                            <td class="deletebutton">
                                @using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit deletebutton" }))
                                {
                                    <div class="hidden-part">
                                        @Html.TextBox("id")

                                        @Html.Hidden("serverSideName", item.ServerSideName)
                                    </div>

                                    <a class="deletebutton style delete-button-submit">

                                    </a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }

    @if (ViewBag.SubscriberNo != null)
    {

        <div class="tablebuttons fadertable">
            @if (ViewBag.HasFileList != null)
            {
                <button class="button1">
                    <a href="@Url.Action("DownloadZipFile", "Archive",  new { id= ViewBag.id})">@MasterISS_Archive_Management_Website.Localization.Model.DownloadAll</a>
                </button>
            }

            <button class="visible-manage-button button1">
                <a href="@Url.Action("Manage", "Archive",  new { id= ViewBag.id})">@MasterISS_Archive_Management_Website.Localization.Model.Manage</a>
            </button>
        </div>
    }


    <div class="gradient"></div>
    <div class="noise"></div>

</div>

@section script{

    <script>
        $("#id").on("input", function () {
            var id = $(this);
            var idVal = id.val();
            var reg = /^\d+$/;
            reg.test(idVal) ? this.value : this.value = this.value.slice(0, -1)
        });
    </script>


}

