@using MasterISS_Archive_Management_Website.ViewModels
@model IEnumerable<FileDetailViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
        #visible-manage-button {
            display: none
        }
        .hidden-part {
            display: none
        }
    </style>*@

@if (ViewBag.SubscriptionId != null)
{
    <style>
        #visible-manage-button {
            display: block
        }
    </style>
}

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="home-page">
            <div>
              @*  @Html.TextBox("SubscriptionId",null, new {htmlAttribute=new { @data-inputmask-regex = "[0-90-9- ]*" } })*@
                @Html.TextBox("SubscriptionId");
            @*    @Html.EditorFor(,)*@
            </div>

            <div class="home-page">
                <button type="submit">Search</button>
            </div>
        </div>

    }
    <div class="message">
        @ViewBag.NoSubscriberFound
        @ViewBag.HasArchiveFileMessage
    </div>


    @if (Model != null)
    {
        <table>
            <tr class="home-page">
                <td>
                    @Html.DisplayNameFor(model => model.AttachmentType)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </td>
                <td colspan="2">
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttachmentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        <a href="@Url.Action("Download", "Archive", new { SubscriptionId = ViewBag.SubscriptionId, FileName = item.ServerSideName })">Download</a>
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit" }))
                        {
                            <div class="hidden-part">
                                @Html.TextBox("SubscriptionId")

                                @Html.Hidden("serverSideName", item.ServerSideName)//?-null
                            </div>

                            <button type="submit">Delete</button>
                        }
                    </td>
                </tr>
            }

        </table>
        <a href="@Url.Action("DownloadZipFile", "Archive",  new { SubscriptionId= ViewBag.SubscriptionId})">Download All(ZIP)</a>

    }

    <div id="visible-manage-button">
        <a href="@Url.Action("Manage", "Archive",  new { SubscriptionId= ViewBag.SubscriptionId})">Manage</a>
    </div>
</div>


@section script{
    <script>
        $(".inputmask").inputmask({ regex: "[0-90-9- ]*" });
    </script>

    <script>
        $(".delete-submit").submit(function (e) {
            if (!confirm("Are You Sure?")) {
                e.preventDefault();
            }
        });
    </script>

}

