@using MasterISS_Archive_Management_Website.ViewModels
@model IEnumerable<FileDetailViewModel>


@{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.id == null)
    {
        ViewBag.Title = MasterISS_Archive_Management_Website.Localization.Model.HomePage;
    }
    else
    {
        ViewBag.Title = ViewBag.id + " - " + MasterISS_Archive_Management_Website.Localization.Model.SubscriberArchiveFiles;
    }
}

@*<style>
        #visible-manage-button {
            display: none
        }
        .hidden-part {
            display: none
        }
    </style>*@

@if (ViewBag.id != null)
{
    <style>
        .visible-manage-button {
            display: block
        }
    </style>
}

@if (ViewBag.SubscriberNo != null)
{
    <style>
        .subscriber-no {
            display: block
        }
    </style>
}

<div class="container">
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <div class="home-page">
            <div>
                @Html.TextBox("id")
            </div>

            <div class="home-page">
                <button type="submit">@MasterISS_Archive_Management_Website.Localization.Model.Search</button>
            </div>
        </div>

    }
    <div class="message">
        @ViewBag.NoSubscriberFound
        @ViewBag.HasArchiveFileMessage
        @ViewBag.IdValidationMessage
    </div>

    @*<div class="subscriber-no subscriber-no-font">
            <div class="row">
                <div class="center-block">
                    <div class="col-lg-3 col-md-3">
                        @MasterISS_Archive_Management_Website.Localization.Model.SubscriberNo:
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href=" @MasterISS_Archive_Management_Website.Properties.Settings.Default.MasterISSWebSiteUrl/@ViewBag.id " target="_blank">
                            @ViewBag.SubscriberNo
                        </a>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="subscriber-no">
        <h1 class="home-page">
            @MasterISS_Archive_Management_Website.Localization.Model.SubscriberNo:
            @*@MasterISS_Archive_Management_Website.Localization.Model.ArchiveNumber  @ViewBag.id*@
            <a href=" @MasterISS_Archive_Management_Website.Properties.Settings.Default.MasterISSWebSiteUrl/@ViewBag.id " target="_blank">
                @ViewBag.SubscriberNo
            </a>
        </h1>
    </div>

    @if (Model != null)
    {
        <table>
            <tr class="home-page">
                <td>
                    @Html.DisplayNameFor(model => model.AttachmentType)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </td>
                <td colspan="2">
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttachmentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        <a href="@Url.Action("Download", "Archive", new { id = ViewBag.id, FileName = item.ServerSideName })">@MasterISS_Archive_Management_Website.Localization.Model.Download</a>
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit" }))
                        {
                            <div class="hidden-part">
                                @Html.TextBox("id")

                                @Html.Hidden("serverSideName", item.ServerSideName)
                            </div>

                            <button type="submit">@MasterISS_Archive_Management_Website.Localization.Model.Delete</button>
                        }
                    </td>
                </tr>
            }
        </table>

        <div class="home-page">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="@Url.Action("DownloadZipFile", "Archive",  new { id= ViewBag.id})">@MasterISS_Archive_Management_Website.Localization.Model.DownloadAll</a>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="visible-manage-button ">
                        <a href="@Url.Action("Manage", "Archive",  new { id= ViewBag.id})">@MasterISS_Archive_Management_Website.Localization.Model.Manage</a>
                    </div>
                </div>

            </div>
        </div>
    }
</div>


@section script{

    <script>
        $(".delete-submit").submit(function (e) {
            if (!confirm("Are You Sure?")) {
                e.preventDefault();
            }
        });
    </script>
    <script>
        $("#id").on("input", function () {
            var id = $(this);
            var idVal = id.val();
            var reg = /^\d+$/;

            reg.test(idVal) ? this.value : this.value = this.value.slice(0, -1)
        })
    </script>

}

