@using MasterISS_Archive_Management_Website.ViewModels
@model IEnumerable<FileDetailViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm())

    {
        <div class="home-page">
            <div>
                @Html.TextBox("SubscriptionId")

            </div>

            <div class="home-page">
                <button type="submit">Search</button>
            </div>
        </div>
        @*}*@

        <div class="message">
            @ViewBag.hasArchiveFileMessage
        </div>


        if (Model != null)
        {<table>

                <tr class="home-page">
                    <td>
                        @Html.DisplayNameFor(model => model.AttachmentType)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.MIMEType)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.FileExtention)
                    </td>
                    <td colspan="2">
                    </td>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AttachmentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MIMEType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileExtention)
                        </td>
                        <td>
                            <a href="@Url.Action("Download", "Archive", new { SubscriptionId= ViewBag.SubscriptionId,FileName = item.ServerSideName})">Download</a>
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Archive", new { SubscriptionId = ViewBag.SubscriptionId })
                        </td>
                    </tr>
                }

            </table>
            <a href="@Url.Action("DownloadZipFile", "Archive",  new { SubscriptionId= ViewBag.SubscriptionId})">Download All(ZIP)</a>

            <a href="@Url.Action("Manage", "Archive",  new { SubscriptionId= ViewBag.SubscriptionId})">Manage</a>

        }
    }


</div>