@using MasterISS_Archive_Management_Website.ViewModels
@model IEnumerable<FileDetailViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
        #visible-manage-button {
            display: none
        }
        .hidden-part {
            display: none
        }
    </style>*@

@if (ViewBag.id != null)
{
    <style>
        #visible-manage-button {
            display: block
        }
    </style>
}

<div class="container">
    @using (Html.BeginForm(null,null,FormMethod.Get))
    {
        <div class="home-page">
            <div>
                  @*@Html.TextBox("Id",null, new {htmlAttribute=new { @data-inputmask-regex = "[0-90-9- ]*" } })*@
                @Html.TextBox("id")
      
                @*<input class="Id" type="text" />*@
              

                @*    @Html.EditorFor(,)*@
            </div>

            <div class="home-page">
                <button type="submit">@MasterISS_Archive_Management_Website.Localization.Model.Search</button>
            </div>
        </div>

    }
<div class="message">
    @ViewBag.NoSubscriberFound
    @ViewBag.HasArchiveFileMessage
    @ViewBag.IdValidationMessage
</div>
    <button></button>
    @Html.ActionLink("Error", "ErrorPage","Archive")

   <a href="@Url.Action("ErrorPage", "Archive")">error</a> 

    @if (Model != null)
    {
        <table>
            <tr class="home-page">
                <td>
                    @Html.DisplayNameFor(model => model.AttachmentType)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </td>
                <td colspan="2">
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttachmentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        <a href="@Url.Action("Download", "Archive", new { id = ViewBag.id, FileName = item.ServerSideName })">@MasterISS_Archive_Management_Website.Localization.Model.Download</a>
                    </td>
                    <td>
                        @*@using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit" }))
                        {
                            <div class="hidden-part">
                                @Html.TextBox("id")

                                @Html.Hidden("serverSideName", item.ServerSideName)
                            </div>

                            <button type="submit">@MasterISS_Archive_Management_Website.Localization.Model.Delete</button>
                        }*@



                        @using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit" }))
                        {
                            <div class="hidden-part">
                                @Html.TextBox("id")

                                @Html.Hidden("serverSideName", item.ServerSideName)
                            </div>

                            <button type="submit">@MasterISS_Archive_Management_Website.Localization.Model.Delete</button>
                        }
                    </td>
                </tr>
            }

        </table>
        <a href="@Url.Action("DownloadZipFile", "Archive",  new { id= ViewBag.id})">@MasterISS_Archive_Management_Website.Localization.Model.DownloadAll</a>

    }

    <div id="visible-manage-button">
        <a href="@Url.Action("Manage", "Archive",  new { id= ViewBag.id})">@MasterISS_Archive_Management_Website.Localization.Model.Manage</a>
    </div>
</div>


@section script{
    @*<script>
        $(".Id").inputmask({ regex: "[0-90-9- ]*" });
    </script>*@

    <script>
        $(".delete-submit").submit(function (e) {
            if (!confirm("Are You Sure?")) {
                e.preventDefault();
            }
        });
    </script>


}

