@*@using MasterISS_Archive_Management_Website.ViewModels*@

@model MasterISS_Archive_Management_Website.ViewModels.FileAndAttachmentViewModel


@*@model IEnumerable<FileDetailViewModel>*@
@*@model IEnumerable<FileAndAttachmentViewModel>*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <h1 class="home-page">
            ARCHIVE NUMBER : @ViewBag.SubscriptionId
        </h1>

        @ViewBag.Exception

        @foreach (var item in Model.AttachmentTypeList)
        {
            <table>
                <tr>
                    @Html.DisplayFor(model => item.AttachmentTypeEnumNumber)
                </tr>

                @if (Model.FileDetailList != null)
                {
                    foreach (var fileItem in Model.FileDetailList)
                    {
                        if (item.AttachmentTypeEnumNumber == fileItem.AttachmentType)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => fileItem.CreationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => fileItem.MIMEType)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => fileItem.FileExtention)
                                </td>
                                <td>
                                    <a href="@Url.Action("Download", "Archive", new { SubscriptionId = ViewBag.SubscriptionId,FileName = fileItem.ServerSideName })">Download</a>
                                </td>
                                <td>
                                    @* <a href="@Url.Action("Delete", "Archive", new { SubscriptionId = ViewBag.SubscriptionId, FileName = fileItem.ServerSideName })">Delete</a>*@
                                    @*   @Html.ActionLink("Delete", "Delete", "Archive", new { SubscriptionId = ViewBag.SubscriptionId, FileName = fileItem.ServerSideName })*@

                                    @using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit" }))
                                    {
                                        <div class="hidden-part">
                                            @Html.TextBox("SubscriptionId")

                                            @Html.Hidden("serverSideName", fileItem.ServerSideName)
                                        </div>

                                        <button type="submit">Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
                <tr>
                    <td>
                        <a href="@Url.Action("UploadNewFile", "Archive",  new { SubscriptionId = ViewBag.SubscriptionId, AttachmentType=item.AttachmentTypeEnumNumber })">Upload New File</a>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

@section script{

    <script>
        $(".delete-submit").submit(function (e) {
            if (!confirm("Are You Sure?")) {
                e.preventDefault();
            }
        });
    </script>

}
