@using MasterISS_Archive_Management_Website.ViewModels
@model IEnumerable<FileDetailViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <h1 class="home-page">
            ARCHIVE NUMBER : @ViewBag.SubscriptionId
        </h1>

        @ViewBag.Exception



        @for (int i = 0; i < 9; i++)
        {<table>
                @foreach (var fileItem in Model)
                {
                    if (fileItem.AttachmentType == i)
                    {
                        <tr>
                            @Html.DisplayFor(model => fileItem.AttachmentType)
                        </tr>
                        if (Model != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => fileItem.CreationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => fileItem.MIMEType)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => fileItem.FileExtention)
                                </td>
                                <td>
                                    <a href="@Url.Action("Download", "Archive", new { SubscriptionId = ViewBag.SubscriptionId,FileName = fileItem.ServerSideName })">Download</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", "Archive", new { SubscriptionId = ViewBag.SubscriptionId, FileName = fileItem.ServerSideName })">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("UploadNewFile", "Archive",  new { SubscriptionId = ViewBag.SubscriptionId, AttachmentType=fileItem.AttachmentType })">Upload New File</a>
                                </td>
                            </tr>

                        }
                    }

                }

            </table>
        }

    </div>
</div>