@model MasterISS_Archive_Management_Website.ViewModels.UploadFileViewModel
@using MasterISS_Archive_Management_Website.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = string.Format(MasterISS_Archive_Management_Website.Localization.Model.SubscriberArchiveFileDetailsAndUploadFile, ViewBag.id);
    <link rel="stylesheet" href="~/Content/stylesmanage.css" />
    <link rel="stylesheet" href="~/Content/stylesmain.css" />
}

<style>

    .button-back::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 5px -5px var(--dark-color), 0px -2px 5px -7px var(--banblack-color);
        background-color: var(--dark-color);
        z-index: -2;
        transition: var(--sec-time) ease;
        text-decoration: none;
    }

    .button-back::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0.3;
        transition: var(--sec-time) ease;
        z-index: -1;
        text-decoration: none;
    }


    .button-back {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        background-color: #1a1a1a;
        border: 1px solid var(--main-color);
        color: white;
        padding: 5px 12px;
        cursor: pointer;
        box-shadow: 0px 0px 5px var(--dark-color), 0px 0px 30px -10px var(--banblack-color);
        outline: 0;
        transform: scale(1);
        transition: var(--sec-time) ease;
        text-decoration: none;
    }


/**/
    .k {
        margin-top: 5em;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
</style>

<div class="page-container">


    <div class="archive-number" id="archiveNum">
        <span> @MasterISS_Archive_Management_Website.Localization.Model.ArchiveNumber : @ViewBag.id</span>
    </div>
  
    <div>

        <div class="subscribernum"  style="color:white">
            <p>
                @MasterISS_Archive_Management_Website.Localization.Model.SubscriberNo
            </p>

            <a target="_blank" href="@MasterISS_Archive_Management_Website.Properties.Settings.Default.MasterISSWebSiteUrl/@ViewBag.id">@ViewBag.SubscriberNo </a>

        </div>

        @ViewBag.Exception

        @foreach (var item in Model.AttachmentTypeList)
        {

            <div class="tablediv fadertable container">
                <table class="maintable">

                    <thead>
                        <tr>
                            <th> @Html.DisplayFor(model => item.AttachmentTypeEnumName)</th>
                            <th>@MasterISS_Archive_Management_Website.Localization.Model.Download</th>
                            <th>@MasterISS_Archive_Management_Website.Localization.Model.Delete</th>
                        </tr>
                    </thead>

                    @if (Model.FileDetailList != null)
                    {
                        foreach (var fileItem in Model.FileDetailList)
                        {
                            if (item.AttachmentTypeEnumNumber == fileItem.AttachmentType)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => fileItem.CreationDate)
                                    </td>
                                    <td>
                                        <a class="downloadbutton" href="@Url.Action("Download", "Archive", new { id = ViewBag.id, FileName = fileItem.ServerSideName })">@*@MasterISS_Archive_Management_Website.Localization.Model.Download*@</a>
                                    </td>


                                    <td class="deletebutton">
                                        @using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit deletebutton" }))
                                        {
                                            <div class="hidden-part">
                                                @Html.TextBox("id")

                                                @Html.Hidden("serverSideName", fileItem.ServerSideName)
                                            </div>
                                            <a class="deletebutton style delete-button-submit"></a>

                                        }
                                    </td>

                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td colspan="3">

                            @using (Html.BeginForm("Manage", "Archive", new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "upload-submit" }))
                            {
                                <div class="file-area">
                                    @Html.Hidden("AttachmentType", item.AttachmentTypeEnumNumber)

                                    <input class="file-input-name" type="hidden" value="@Html.NameFor(m=>m.Files)" />

                                    <div class="drop-zone drag-area "></div>

                                    <div class="file-input-container" style="display: none;"></div>

                                    <div class="center-buttons">
                                        <button type="submit" class="upload-button button1">@MasterISS_Archive_Management_Website.Localization.Model.Save</button>
                                        <button type="button" class="clear-button button1">@MasterISS_Archive_Management_Website.Localization.Model.Clear</button>

                                    </div>

                                    <div class="uploading-files">
                                        @MasterISS_Archive_Management_Website.Localization.Model.FileisUploading
                                    </div>
                                </div>
                                <div class="center-buttons">
                                    <button class="area-for-upload-button button1" type="button">@MasterISS_Archive_Management_Website.Localization.Model.UploadFile</button>
                                </div>}
                        </td>
                    </tr>
                </table>
                }
            </div>
        }
    </div>

    <div class="container body-content">

    </div>
    @*<div class="tablediv fadertable container">*@
    <div class="k">
        @*<div class="button-back">*@

        @Html.ActionLink("Geri Dön", "Index", "Archive", new { id = ViewBag.id }, new { @class = "button-back" })
        @*</div>*@
    </div>
    @*</div>*@
</div>



@section script{
    @Scripts.Render("~/Scripts/Up-file.js");

    @Scripts.Render("~/Scripts/javascriptmanage.js");


    <script>SetupFileUploadAreas();</script>

    <script>
        $('.clear-button').click(function () {
            var button = $(this);
            var uploadForm = button.closest('.upload-submit');
            var uploadFormInputName = uploadForm.find('.file-input-container');
            var uploadFormInputFiles = uploadFormInputName.find(
                'input[type="file"]'
            );
            //uploadFormInputName.removeAttr('name');
            uploadFormInputFiles.removeAttr('name');
            $('.drag-area').empty();
        });
    </script>
    <script>
        $('.upload-button').click(function () {
            $('.upload-button').hide();
            $('.clear-button').hide();
            $('.uploading-files').show();
        });
    </script>
    <script>
        $('button.area-for-upload-button').click(function () {
            var uploadAreaButton = $(this);
            var uploadForm = uploadAreaButton.closest('.upload-submit');
            var uploadFileArea = uploadForm.find('.file-area');

            var fileAreaButton = uploadForm.find('.area-for-upload-button');

            if ($('.file-area').is(':visible')) {
                $('.file-area').hide();
            }
            $('.area-for-upload-button').show();

            fileAreaButton.hide();
            uploadFileArea.show();
        });
    </script>

}




