@model MasterISS_Archive_Management_Website.ViewModels.UploadFileViewModel
@using MasterISS_Archive_Management_Website.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = string.Format(MasterISS_Archive_Management_Website.Localization.Model.SubscriberArchiveFileDetailsAndUploadFile, ViewBag.id);
    <link rel="stylesheet" href="~/Content/stylesmanage.css" />
}

<style>
    .file-area {
        display: none
    }
    .deletepop {
        display: none
    }
    /*
    .message-pop {
        display: none
    }*/

</style>
<div class="page-container">



    @*<div class="message">
            @TempData["FileSizeError"]
            @TempData["FileCountError"]
            @TempData["UploadStatus"]
            @TempData["UploadFileStatus"]
            @TempData["NullFilesErrorMessage"]
        </div>*@

    <div class="archive-number" id="archiveNum">
        <span> @MasterISS_Archive_Management_Website.Localization.Model.ArchiveNumber  @ViewBag.id</span>
        @*<span>59110</span>*@
    </div>


    <div>
        @*<h1 class="home-page">
                @MasterISS_Archive_Management_Website.Localization.Model.ArchiveNumber  @ViewBag.id
            </h1>*@

 

        @ViewBag.Exception

        @foreach (var item in Model.AttachmentTypeList)
        {

            <div class="tablediv fadertable container">
                <table class="maintable">

                    <thead>
                        <tr>
                            <th> @Html.DisplayFor(model => item.AttachmentTypeEnumName)</th>
                            <th>Download</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    @if (Model.FileDetailList != null)
                    {
                        foreach (var fileItem in Model.FileDetailList)
                        {
                            if (item.AttachmentTypeEnumNumber == fileItem.AttachmentType)
                            {

                                @*<tbody>*@
                                <!-- written as a sample -->
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => fileItem.CreationDate)
                                    </td>
                                    <td>
                                        <a class="downloadbutton" href="@Url.Action("Download", "Archive", new { id = ViewBag.id, FileName = fileItem.ServerSideName })">@*@MasterISS_Archive_Management_Website.Localization.Model.Download*@</a>
                                    </td>


                                    <td class="deletebutton">
                                        @using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit deletebutton" }))
                                        {
                                            <div class="hidden-part">
                                                @Html.TextBox("id")

                                                @Html.Hidden("serverSideName", fileItem.ServerSideName)
                                            </div>

                                            <div class="deletepop">
                                                <div class="popup">
                                                    <p>are you sure?</p>
                                                    <p>you are about to delete this item permanentley</p>
                                                    <ul>
                                                        <li><a class="pop-cancel" href="#">Cancel</a></li>
                                                        <li><a class="pop-delete" href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                                <div class="backgrey"></div>
                                            </div>

                                            <a class="deletebutton style delete-button-submit">
                                                @* <a href="#" id="submit_link" class="button submit-button">Log In</a>*@
                                                <!--<button type="submit">-->
                                                @*@MasterISS_Archive_Management_Website.Localization.Model.Delete*@
                                                <!--</button>-->
                                            </a>
                                        }
                                    </td>

                                    <!--<td class="deletebutton">-->
                                    @*@using (Html.BeginForm("Delete", "Archive", FormMethod.Post, new { @class = "delete-submit deletebutton" }))*@
                                    <!--{
                                        <div class="hidden-part">-->
                                    @*@Html.TextBox("id")*@

                                    @*@Html.Hidden("serverSideName", fileItem.ServerSideName)*@
                                    <!--</div>
                                    <a class="deletebutton style">
                                        <button type="submit" class="delete-pop-button">-->
                                    @*@MasterISS_Archive_Management_Website.Localization.Model.Delete*@
                                    <!--</button>
                                            </a>
                                        }
                                    </td>-->
                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td colspan="3">

                            @using (Html.BeginForm("Manage", "Archive", new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "upload-submit" }))
                            {
                                <div class="file-area">
                                    @Html.Hidden("AttachmentType", item.AttachmentTypeEnumNumber)

                                    <input class="file-input-name" type="hidden" value="@Html.NameFor(m=>m.Files)" />

                                    <div class="drop-zone drag-area "></div>

                                    <div class="file-input-container" style="display: none;"></div>

                                    <button type="submit" class="upload-button button1">@MasterISS_Archive_Management_Website.Localization.Model.Save</button>
                                    <button type="button" class="clear-button button1">@MasterISS_Archive_Management_Website.Localization.Model.Clear</button>

                                    <div class="uploading-files">
                                        @MasterISS_Archive_Management_Website.Localization.Model.FileisUploading
                                    </div>
                                </div>
                                <button class="area-for-upload-button button1" type="button">@MasterISS_Archive_Management_Website.Localization.Model.UploadFile</button>
                            }
                        </td>
                    </tr>
                    @*</tbody>*@
                </table>
                }

            </div>
        }


    </div>

    <div class="container body-content">
        <style>
            .file-area {
                display: none;
            }
            /*  .button-center{
                text-align:center
            }*/


        </style>
    </div>
    @if (TempData["UploadFileStatus"] != null || TempData["FileSizeError"] != null || TempData["UploadStatus"] != null || TempData["FileCountError"] != null || TempData["NullFilesErrorMessage"] != null)
    {
        <style>
            .deletepop.upload-message {
                display: block
            }
        </style>
    }


    <div class="deletepop upload-message">
        <div class="popup">
            <p></p>
            <p>               
                    @TempData["FileSizeError"]
                    @TempData["FileCountError"]
                    @TempData["UploadStatus"]
                    @TempData["UploadFileStatus"]
                    @TempData["NullFilesErrorMessage"]
              
            </p>
           
            <ul>
                @*<li><a href="#">Cancel</a></li>*@
                <li style="margin-left: 5em;"><a class="ok" href="#">Tamam</a></li>
            </ul>
        </div>
        <div class="backgrey"></div>
    </div>


</div>
<footer>
    <p>version 2.0</p>
</footer>
<!-- Delete pop up and its background -->
<!--<div class="deletepop">
        <div class="popup">
            <p>are you sure?</p>
            <p>you are about to delete this item permanentley</p>
            <ul>
                <li><a href="#">Cancel</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </div>
        <div class="backgrey"></div>
    </div>

<div class="upload-popup">
    <div class="popup">
        <p>Upload is succed</p>-->
@*<p>you are about to delete this item permanentley</p>*@
<!--<ul>-->
@*<li><a href="#">Cancel</a></li>*@
<!--<li><a href="#">Okey</a></li>
        </ul>
    </div>
    <div class="backgrey"></div>
</div>-->
<!-- background gradient and noise overlay -->


@section script{
    @Scripts.Render("~/Scripts/Up-file.js");
    @*@Scripts.Render("~/Scripts/javascript.js");*@

    @Scripts.Render("~/Scripts/javascriptmanage.js");

    @*< script src = "./javascript/javascript.js" ></ script >
        < script src = "./javascript/javascriptmanage.js" ></ script >
        < script src = "./javascript/jquery-3.js" ></ script >
        < script src = "./javascript/bootstrap.js" ></ script >
        < script src = "./javascript/Up-file.js" ></ script >

        < script >*@


    <script>SetupFileUploadAreas();</script>
    @*</script>*@
    @*<script>
        $('.delete-submit').submit(function (e) {
            if (!confirm('Are You Sure?')) {
                e.preventDefault();
            }
        });
    </script>*@
    <script>
        $('.clear-button').click(function () {
            var button = $(this);
            var uploadForm = button.closest('.upload-submit');
            var uploadFormInputName = uploadForm.find('.file-input-container');
            var uploadFormInputFiles = uploadFormInputName.find(
                'input[type="file"]'
            );
            //uploadFormInputName.removeAttr('name');
            uploadFormInputFiles.removeAttr('name');

            $('.drag-area').empty();
        });
    </script>
    <script>
        $('.upload-button').click(function () {
            $('.upload-button').hide();
            $('.clear-button').hide();

            $('.uploading-files').show();
        });
    </script>
    <script>
        $('button.area-for-upload-button').click(function () {
            var uploadAreaButton = $(this);
            var uploadForm = uploadAreaButton.closest('.upload-submit');
            var uploadFileArea = uploadForm.find('.file-area');

            var fileAreaButton = uploadForm.find('.area-for-upload-button');

            if ($('.file-area').is(':visible')) {
                $('.file-area').hide();
            }
            $('.area-for-upload-button').show();

            fileAreaButton.hide();
            uploadFileArea.show();
        });
    </script>

    <script>
        $(".delete-button-submit").click(function () {
            var button = $(this);        
            var form = button.closest("form.delete-submit");
            var deletepop = form.find(".deletepop");
            deletepop.show();
        });
    </script>

    <script>
        $(".pop-cancel").click(function () {
            var button = $(this);          
            var deletepop = button.closest("div.deletepop")
            deletepop.hide();
        });
    </script>


    <script>
        $(".pop-delete").click(function () {
            var button = $(this);
            var form = button.closest("form.delete-submit");
            form.submit();
        });
    </script>

    <script>
        $(".ok").click(function () {
            var button = $(this);
            var popup = button.closest("div.deletepop.upload-message");
            popup.hide();
        })
    </script>



    @*<script>
            $(".delete-submit").submit(function (e) {

                var submitButton = $(this);
                var pageBegin = submitButton.closest("div.page-container");
                var uploadPop = pageBegin.find("div.upload-popup");
                var popUp = uploadPop.find("div.popup");
                popUp.addClass("popupanim");

                var backGrey = deletePop.find("div.backgrey");
                backGrey.addClass("backgreyanim");
                backGrey.show();

                //  if (!confirm("Are You Sure?")) {
                //    e.preventDefault();
                //}
            });
        </script>*@

    @*<script>
            popDowner();
            popUpper()
        </script>*@


    @*<script>
                window.onload = function () {
                if ("@TempData["UploadFileStatus"]" != "") {

                    //var submitButton = $(this);
                    var pageBegin = $("div.page-container");
                    var uploadPop = pageBegin.find("div.upload-popup");
                    var popUp = uploadPop.find("div.popup");
                    popUp.addClass("popupanim");

                    var backGrey = deletePop.find("div.backgrey");
                    backGrey.addClass("backgreyanim");
                    backGrey.show();

                }
                };
        </script>*@
}

