@model MasterISS_Archive_Management_Website.ViewModels.UploadFileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script src="~/Scripts/jquery-3.4.1.js"></script>
}

<style>
    div.drag-area {
        /*background-color: lightblue;*/
      /*  width: 110px;
        height: 110px;*/
        overflow: auto;
    }
</style>

@using (Html.BeginForm("UploadNewFile", "Archive", FormMethod.Post, new
{ enctype = "multipart/form-data", @class = "upload-submit" }))
{
    <div class="message">

        @ViewBag.FileSizeError
        @ViewBag.FileCountError
        @ViewBag.UploadStatus
        @ViewBag.UploadFileStatus
    </div>
    <div id="dropzone" class="drag-area ">
        <div class="dropzone-msg dz-message needsclick">
            @Html.ValidationMessageFor(m => m.Files)
            @* @Html.TextBoxFor(m => m.File, new { type = "file", @multiple = "multiple", @id = "customerDropFile" })*@
            <div class="hidden-part">
                @Html.TextBoxFor(m => m.Files, new { type = "file", @multiple = "multiple", @id = "customerDropFile" })
            </div>

            @Html.HiddenFor(m => m.SubscriptionId)
            @Html.HiddenFor(m => m.AttachmentType)

            <input type="file" style="visibility:hidden" id="customerContract" name="customerContract" multiple />
            <h3 class="dropzone-msg-title" id="file-dialog">Drag And Drop Area</h3>
        </div>

    </div>


    @*<button type="submit">Save</button>*@

    <button type="submit" class="upload-button">Save</button>
    <button type="button" class="clear-button">Clear</button>

    <div class="uploading-files">
        File Uploading...

    </div>
}


@section script{
    @Scripts.Render("~/Scripts/UploadFile.js")

    <script>
        $(".upload-button").click(function () {
            $('.upload-button').hide();
            $('.clear-button').hide();
            $('.uploading-files').show();
        });
    </script>

    @*<script>
            $('.clear-button').click(function () {
                window.location.href = "@Url.Action("UploadNewFile","Archive")";
            })
        </script>*@

    <script>
        $('.clear-button').click(function () {
            $('.drag-area').empty();
        })
    </script>
}
