@model MasterISS_Archive_Management_Website.ViewModels.UploadFileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
  
    <script src="~/Scripts/jquery-3.4.1.js"></script>
}

<style>

    /*    #mydropzone {
                border-radius: 0.5em;
                border: 0.2em solid #ccc;
                background-color: #eee;
                width: 75em;
                text-align: center;
                color: #555;
                margin: 3em;
                height: 30em;
            }
        */
    /* #dropZone.hover {
                    border-color: #aaa;
                    background-color: #ddd;
                }

                #dropZone.error {
                    border-color: #f00;
                    background-color: #faa;
                }*/
</style>



@using (Html.BeginForm("UploadNewFile", "Archive", FormMethod.Post, new
{ enctype = "multipart/form-data", @class = "upload-submit" }))
{
<div class="message">
    
    @ViewBag.FileSizeError
    @ViewBag.FileCountError
    @ViewBag.UploadStatus
</div>
    <div id="dropzone" class="drag-area ">
        <div class="dropzone-msg dz-message needsclick">
            @Html.ValidationMessageFor(m => m.Files)
            @* @Html.TextBoxFor(m => m.File, new { type = "file", @multiple = "multiple", @id = "customerDropFile" })*@
            <div class="hidden-part">
                @Html.TextBoxFor(m => m.Files, new { type = "file", @multiple = "multiple", @id = "customerDropFile" })
            </div>

            @Html.HiddenFor(m => m.SubscriptionId)
            @Html.HiddenFor(m => m.AttachmentType)

            <input type="file" style="visibility:hidden" id="customerContract" name="customerContract" multiple />
            <h3 class="dropzone-msg-title" id="file-dialog">Drag And Drop Area</h3>
        </div>

    </div>


    @*<button type="submit">Save</button>*@

    <button type="submit" class="upload-button">Save</button>
    <button type="button" class="clear-button">Clear</button>

    <div class="uploading-files">
        File Uploading...
    </div>
}


@section script{
    @Scripts.Render("~/Scripts/UploadFile.js")
    
    <script>
        $(".upload-button").click(function () {
            $('.upload-button').hide();
            $('.clear-button').hide();
            $('.upload-files').show();
        });        
    </script>

    <script>
        $('.clear-button').click(function () {
            window.location.href = "@Url.Action("UploadNewFile","Archive")";
        })
    </script>

}
